target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
src/main/resources/Bank_Clean_data/bank_clean_transactions.csv
src/main/resources/Bank_Clean_Data_Output/T1.csv
src/main/resources/Bank_Clean_Data_Output/T553375.csv
src/main/resources/Bank_Clean_Data_Output/T603545.csv
src/main/resources/Bank_Clean_Data_Output/T653733.csv
src/main/resources/Bank_Clean_Data_Output/T703912.csv
src/main/resources/Bank_Clean_Data_Output/T754028.csv
src/main/resources/Bank_Clean_Data_Output/T804216.csv
src/main/resources/Bank_Clean_Data_Output/T854357.csv
src/main/resources/Bank_Clean_Data_Output/T904522.csv
src/main/resources/Bank_Clean_Data_Output/T954670.csv
